###  Menginput Dataset

In [1]:
import pandas as pd
import numpy as np
import statistics as st

elisa=pd.read_csv('D:/KAMPUS/MATA KULIAH/SEMESTER 5/KOMPUTASI STATISTIKA/TUGAS STATDES/sekolah.csv', sep=";")
elisa.head()

  Kabupaten/Kota  Sekolah  Murid  Guru
0        Pacitan      417  39422  3748
1       Ponorogo      600  61557  5438
2     Trenggalek      442  45890  3783
3    Tulungagung      667  80106  7169
4         Blitar      698  75424  5942

In [2]:
print(elisa)

   Kabupaten/Kota  Sekolah   Murid   Guru
0         Pacitan      417   39422   3748
1        Ponorogo      600   61557   5438
2      Trenggalek      442   45890   3783
3     Tulungagung      667   80106   7169
4          Blitar      698   75424   5942
5          Kediri      671  111138   6528
6          Malang     1164  181843   9887
7        Lumajang      553   72145   4930
8          Jember     1026  180282  10179
9      Banyuwangi      823  117788   7331
10      Bondowoso      507   57824   5240
11      Situbondo      443   48724   5534
12    Probolinggo      636   78318   5227
13       Pasuruan      719  123393   6996
14       Sidoarjo      568  158042   8114
15      Mojokerto      414   66593   5634
16        Jombang      549   75261   5328
17        Nganjuk      646   81919   5466
18         Madiun      419   43289   3656
19        Magetan      497   41752   3877
20          Ngawi      538   55792   4775
21     Bojonegoro      738   78943   6207
22          Tuban      577   72268   5336
23       Lamongan      635   55433   5525
24         Gresik      450   76584   4730
25      Bangkalan      709  105177   5673
26        Sampang      623   74133   5425
27      Pamekasan      474   60546   5555
28        Sumenep      649   60061   6657
29         Kediri      140   28672   1503
30         Blitar       62   15196    807
31         Malang      272   74375   3868
32    Probolinggo      105   20325   1032
33       Pasuruan       65   19216    982
34      Mojokerto       61   13335    692
35         Madiun       70   15070    822
36       Surabaya      704  241564  12088
37           Batu       76   15374    928

###  Ukuran Pemusatan (rata-rata, median, modus)

In [3]:
#SEKOLAH
#menggunakan library statistics
print(st.mean(elisa['Sekolah']))                          #mencari rata-rata
print(st.median(elisa['Sekolah']))                        #mencari median
print(st.mode(elisa['Sekolah']))                          #mencari modus

#menggunakan library pandas
elisa1=pd.DataFrame (elisa)                    
print(elisa1['Sekolah'].mean())
print(elisa1['Sekolah'].median())

#Menggunakan library numpy
elisa2=np.array(elisa['Sekolah'])                        
print(elisa2.mean())
print(np.median(elisa2))

510.7105263157895
551.0
417
510.7105263157895
551.0
510.7105263157895
551.0

In [4]:
#MURID
#menggunakan library statistics
print(st.mean(elisa['Murid']))                          #mencari rata-rata
print(st.median(elisa['Murid']))                        #mencari median
print(st.mode(elisa['Murid']))                          #mencari modus

#menggunakan library pandas
elisa1=pd.DataFrame (elisa)                    
print(elisa1['Murid'].mean())
print(elisa1['Murid'].median())

#Menggunakan library numpy
elisa2=np.array(elisa['Murid'])                        
print(elisa2.mean())
print(np.median(elisa2))

74283.52631578948
69369.0
39422
74283.52631578948
69369.0
74283.52631578948
69369.0

In [5]:
#GURU
#menggunakan library statistics
print(st.mean(elisa['Guru']))                          #mencari rata-rata
print(st.median(elisa['Guru']))                        #mencari median
print(st.mode(elisa['Guru']))                          #mencari modus

#menggunakan library pandas
elisa1=pd.DataFrame (elisa)                    
print(elisa1['Guru'].mean())
print(elisa1['Guru'].median())

#Menggunakan library numpy
elisa2=np.array(elisa['Guru'])                        
print(elisa2.mean())
print(np.median(elisa2))

5068.736842105263
5380.5
3748
5068.736842105263
5380.5
5068.736842105263
5380.5

In [6]:
#Kabupaten/Kota
#menggunakan library statistics
print(st.mode(elisa['Kabupaten/Kota']))                          #mencari modus

#menggunakan library pandas
print(elisa1['Kabupaten/Kota'].mode())

Blitar
0         Blitar
1         Kediri
2         Madiun
3         Malang
4      Mojokerto
5       Pasuruan
6    Probolinggo
dtype: object

###  Ukuran Keragaman (varians dan standar deviasi)

In [7]:
#SEKOLAH
#menggunakan library statistics
print(st.variance(elisa['Sekolah']))                      #mencari varians
print(st.stdev(elisa['Sekolah']))                         #mencari standar deviasi

#menggunakan library pandas
elisa1=pd.DataFrame (elisa['Sekolah'])                    
print(elisa1['Sekolah'].std())

#Menggunakan library numpy
elisa2=np.array(elisa['Sekolah'])                        
print(np.var(elisa2))
print(np.std(elisa2))

68462.69772403983
261.65377452664393
261.65377452664393
66661.0477839335
258.1880085982568

In [8]:
#Murid
#menggunakan library statistics
print(st.variance(elisa['Murid']))                      #mencari varians
print(st.stdev(elisa['Murid']))                         #mencari standar deviasi

#menggunakan library pandas
elisa1=pd.DataFrame (elisa['Murid'])                    
print(elisa1['Murid'].std())

#Menggunakan library numpy
elisa2=np.array(elisa['Murid'])                        
print(np.var(elisa2))
print(np.std(elisa2))

2514796473.0668564
50147.746440561576
50147.746440561576
2448617618.512465
49483.50855095529

In [9]:
#Guru
#menggunakan library statistics
print(st.variance(elisa['Guru']))                      #mencari varians
print(st.stdev(elisa['Guru']))                         #mencari standar deviasi

#menggunakan library pandas
elisa1=pd.DataFrame (elisa['Guru'])                    
print(elisa1['Guru'].std())

#Menggunakan library numpy
elisa2=np.array(elisa['Guru'])                        
print(np.var(elisa2))
print(np.std(elisa2))

6931701.712660029
2632.812509971044
2632.8125099710437
6749288.50969529
2597.939281371928